doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css")
    style.
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
      }
      .container {
        max-width: 90%;
        height: 90vh;
        overflow-y: auto;
        padding: 20px;
      }
      .table-container {
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: auto;
        border: 1px solid #dee2e6;
      }
      table {
        table-layout: auto;
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        padding: 12px;
        border: 1px solid #dee2e6;
        text-align: center;
        white-space: nowrap;
      }
      th {
        background-color: #343a40;
        color: white;
        position: sticky;
        top: 0;
        z-index: 10;
      }
  body
    .container
      .text-center
        a.btn.btn-primary.my-3(href="/") Back to Form
        h1= title
      if data && data.length > 0
        h2.my-4 BINUS Thesis
        .table-container
          table.table.table-dark.table-striped
            thead
              tr
                th Page URL
                th Category
                th Value
            tbody
              each row in data
                tr
                  td= row.Page
                  td= row.Category
                  td
                    if row.Value.includes(',')
                      ul
                        each item in row.Value.split(',')
                          li= item.trim()
                    else
                      p= row.Value

      h2.my-4.text-center Test Case Suggestions
      h3.text-center Used Model: #{resultGroq.model}

      if resultGroq.message
        .card.my-4.mx-auto(style="max-width: 900px;")
          .card-body
            h5.card-title.text-center Test Case Results
            .card-text.px-3.py-2(style="white-space: pre-wrap; word-wrap: break-word;") 
              != resultGroq.message 
      else
        h5.text-center Sorry, we can't process your request right now :(

      .text-center.mt-4
        a.btn.btn-success.btn-lg(href="/download/test-case") Download Test Case
        a.btn.btn-info.btn-lg.ms-3(href="/download/test-script") Download Test Script
      .text-center.mt-2
        a.btn.btn-primary(href="/") Back to Form

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js")